.sans-serif {
  font-family: sans-serif;
}

.serif {
    font-family: serif;
}

.verdana {
    font-family: Verdana;
}

.monospace {
    font-family: monospace;
}
/* https://fonts.google.com/specimen/Nerko+One#standard-styles

 */
@font-face {
    font-family: nerkoOne;
    src: url(../fonts/NerkoOne-Regular.ttf)
}
.nerko-one {
    font-family: nerkoOne;
}